fieldset {
    border: none;
    padding: 0;
    margin-bottom: 1rem;
}

button {
    cursor: pointer;
    padding: 0.5rem 1rem;
}

table {
    border-collapse: collapse;
}

td,
th {
    padding: 0.5rem 1rem;
    border: 1px solid black;
}

.from-least,
.from-greatest {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    font-size: 1rem;
}

.from-least:hover,
.from-greatest:hover {
    color: tomato;
}